<nav>
  <div class="navbar-wrapper">
    <mat-icon class="home-icon" [routerLink]="['/']">home</mat-icon>
    <button class="cart-button" mat-button [routerLink]="['/shopping-cart']"
      [matBadge]="totalOnCart$ | async" matBadgePosition="after" matBadgeColor="accent">
      Shopping Cart
    </button>
    
    <ng-container *ngIf="(user$ | async) as user; else loginButton">
      <button mat-button [matMenuTriggerFor]="menu">
        {{user.name}}<mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/my/orders']">
          My Orders
        </button>
        <button mat-menu-item [routerLink]="['/admin/orders']"
          *ngIf="user.isAdmin">
          Manage Orders
        </button>
        <button mat-menu-item [routerLink]="['/admin/products']"
          *ngIf="user.isAdmin">
          Manage Products
        </button>
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
    </ng-container>

    <ng-template #loginButton>
        <button mat-button [routerLink]="['login']">Login</button>
    </ng-template>

  </div>
</nav>