<nav>
  <div class="navbar-wrapper">
    <mat-icon class="home-icon" [routerLink]="['/']">home</mat-icon>
    <button mat-button [routerLink]="['/shopping-cart']">Shopping Cart</button>
    <button mat-button [matMenuTriggerFor]="menu">
      Username<mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/my-orders']">My Orders</button>
      <button mat-menu-item [routerLink]="['/admin-orders']">Manage Orders</button>
      <button mat-menu-item [routerLink]="['/admin-products']">Manage Products</button>
      <button mat-menu-item (click)="logOut()">Log Out</button>
    </mat-menu>
  </div>
</nav>