@import '../../../assets/styles/variables';

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 60px;
  background-color: rgba(105,105,105,0.04);

  & > * {
    display: block;
    margin: 20px;
  }
}

.home-icon {
  cursor: pointer;
  outline: none;
}